html {
  font-size: 16px;
  height: -webkit-fill-available;
}

body {
  background: orangered;
  overflow: hidden;
}

body,
article,
aside {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 1rem;
  margin: 0;
  text-align: center;
}

nav h3 time {
  padding: 0.5rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face {
  font-family: "MS Mincho", serif;
  src: url("https://vg.pe.hu/fonts/family/MSMincho.ttf");
}

h1 span,
#modal h2 b {
  font-family: 'Permanent Marker', cursive;
}

h1 small,
h2,
#act h3 b {
  font-family: "Futura", "Century Gothic", "CenturyGothic", "Franklin Gothic Medium", "Franklin Gothic", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

h1 button,
#act h2::before,
#modal p,
h3 {
  font-family: "MS Mincho", "SimSong", serif;
}

article {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: auto;
  z-index: 10;
}

h1 {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  font-size: 450%;
  font-weight: 900;
  text-align: center;
  width: 100%;
}

h1 {
  transform: scale(1, 0.55);
  transform-origin: left top;
}

h1 span,
h1 small {
  letter-spacing: 2rem;
}

h1 span,
h2 b {
  color: darkblue;
  text-stroke: 0.25rem darkblue;
  -webkit-text-stroke: 0.25rem darkblue;
  display: block;
  transform: rotate(-2.5deg);
}

h1 small {
  color: #fff;
  font-size: 55%;
  font-weight: 100;
}

button {
  color: darkblue;
  background: #fff;
  border: 0.1rem solid darkblue;
}

button {
  font-size: inherit;
  outline: none;
}

h1 button {
  box-sizing: border-box;
  display: inline-block;
  transform: scale(2, 1);
  padding: 1rem 0;
  margin-right: 2rem;
}

h2 {
  font-size: 200%;
  letter-spacing: 0.5rem;
  line-height: 200%;
}

h2 b:first-of-type {
  font-size: 125%;
}

h3 {
  font-size: 150%;
  font-weight: 500;
}

#act h3 b {
  letter-spacing: 0.25rem;
}

#act {
  margin: 2.5rem 0 1rem;
}

#act h2::before {
  content: 'DJ Party at Billiard Hall';
  color: #000;
  display: block;
  font-size: 55%;
  text-decoration: underline #fff dotted;
  padding: 0;
  margin: 0 0 2.5rem;
  width: 100%;
}

#act h2 b,
#act h3 b {
  color: transparent;
  display: inline-block;
  transform: scale(1, 1.25);
  text-stroke: 0.075rem #fff;
  -webkit-text-stroke: 0.075rem #fff;
}

nav h3 {
  line-height: 200%;
  transform: scale(1.11, 0.9);
}

nav h3 time {
  background: #fff;
}

#modal {
  width: 750px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

#modal h2 b {
  letter-spacing: 2.5rem;
  margin-left: 2.5rem;
}

#closeButton {
  float: right;
}


@media screen and (max-width: 1000px) {
  html {
    font-size: 2.25vw;
    height: -webkit-fill-available;
  }

  h1 span {
    letter-spacing: 0.75vw;
  }
}