html {
  font-size: 14px;
  height: -webkit-fill-available;
}

body {
  position: relative;
  background-image: url(cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body,
article,
h1,
h2,
h3,
h4,
img {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
#more mark {
  font-family: -apple-system, "BlinkMacSystemFont", Arial, "YuGothic" sans-serif;
  -webkit-text-stroke: 0.5px #000;
  text-stroke: 0.5px #000;
}

#info h1 {
  font-size: 200%;
  letter-spacing: 0.5rem;
}

h2,
#act u {
  font-size: 125%;
  font-weight: 500;
}

h3,
h4 {
  font-size: 111%;
  font-weight: 500;
}

i {
  font-size: 75%;
  padding: 0 1rem;
}

#more mark {
  color: #fff;
  display: block;
  float: right;
  margin: 5% 5% 0 0;
  font-size: 175%;
  max-width: 750px;
}

a,
i,
#act u {
  color: #fff;
  font-family: "Times New Romen", serif;
  font-style: italic;
  font-weight: 555;
}

h1::after,
h2::after,
h3::after,
hr {
  border: none;
  box-sizing: border-box;
  content: "";
  clear: both;
  display: block;
  margin: 1rem 0;
  width: 100%;
}

article,
aside {
  pointer-events: none;
  user-select: none;
}

a,
u,
mark {
  pointer-events: auto;
  user-select: auto;
  transition: 0.5s;
}

a:hover,
u:hover {
  background: #fff9;
  cursor: pointer;
}

article {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

#more {
  background: 50% 50% / contain;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 90%;
  height: 100%;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 3vw;
  }

  body {
    max-height: -webkit-fill-available;
  }
}