html {
  font-size: 16px;
  height: -webkit-fill-available;
}

body {
  background: #000;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
}

button {
  background-color: #000;
  border: 0.125rem solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
}

hr {
  clear: both;
  border: none;
  border-bottom: dotted 0.25rem;
  margin: 0.5rem;
}

@font-face {
  font-family: "MS Mincho", serif;
  src: url("https://vg.pe.hu/jp/MSMincho.ttf");
}

.pehu {
  font-family: "MS Mincho", "SimSong", serif;
}

body {
  font-family: "Arial Narrow", "Arial", "YuGothic", "Yu Gothic", sans-serif;
}

#play,
#canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#play {
  display: none;
}

#canvas {
  z-index: 0;
}

#play {
  width: 5.5rem;
  height: 5.5rem;
  z-index: 100;
  mix-blend-mode: difference;
}

#play .icon {
  color: #fff;
}

#play .play {
  width: 0;
  height: 0;
  border-left: 2.5rem solid;
  border-top: 1.45rem solid transparent;
  border-bottom: 1.45rem solid transparent;
  margin-left: 0.75rem;
}

#play .pause {
  width: 1.25rem;
  height: 2rem;
  border-left: 0.3rem solid;
  border-right: 0.3rem solid;
}

h1,
h2,
h3,
p,
aside::before
header time,
header small,
header u {
  padding: 0;
  margin: 0.5rem;
}

#info {
  padding: 1.5rem 0;
  height: 40rem;
  float: right;
  writing-mode: vertical-rl;
}

header,
aside {
  display: flex;
  justify-content: space-between;
}

nav p,
article section {
  font-size: 95%;
}

article u:not(.member),
nav p b,
nav strong,
a {
  font-size: 111%;
  padding:  0.25rem;
}

nav small {
  font-size: 75%;
  padding:  0.25rem;
}

h1 {
  font-size: 175%;
}

h2,
h3 {
  font-size: 125%;
}

aside::before {
  font-size: 125%;
}

section strong {
  line-height: 200%;
}

h1::before,
h2,
h3 {
  font-weight: 500;
}

header *,
article u,
nav p b,
nav small,
nav strong {
  display: inline-block;
}

nav strong {
  border-bottom: 1px solid;
}

.member,
a {
  color: #fff;
  border: solid 1px;
  text-decoration: none;
  padding:  0 0.25rem;
}

h1::before {
  content: "Sensorisk Verden: Japan Showcase with PARADE";
  display: block;
  font-size: 55%;
}

article {
  position: relative;
  mix-blend-mode: exclusion;
  z-index: 1;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
}

article section {
  padding: 0.25rem 0.5rem;
}

nav img {
  width: 7.5rem;
  pointer-events: none;
  user-select: none;
}

nav {
  width: 20rem;
  float: left;
  margin-right: 1rem;
}

aside {
  flex-flow: wrap;
  padding-top: 2.5rem;
  position: relative;
}

aside::before {
  content: "Sensorisk Verden: Japan Showcase";
  display: block;
  position: absolute;
  top: 1.25rem;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 2.55vw;
  }
}
