html {
  font-family: "Great Vibes", "IBM Plex Sans Condensed", monospace;
  font-size: 3.21vw;
}

body {
  background: 50% 50% / cover;
  background-attachment: fixed;
  background-image: url("cover.jpeg");
}

body,
article,
section,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.buy,
a {
  font-size: 200%;
}

h1 {
  font-size: 150%;
}

h2,
h3 {
  font-size: 111%;
  font-weight: 500;
}

article {
  height: 250vh;
}

#title {
  position: fixed;
  top:0;
  left: 0;
  padding: 0;
  margin: 1vw;
  z-index: 10;
}

section {
  position: fixed;
}

#act {
  top: 10%;
  right: 15%;
}

#info {
  left: 5%;
  bottom: 5%;
}

#text {
  top: 25%;
  left: 25%;
  width: 50%;
}

a {
  color: #00a892;
  text-shadow: 0.25vw 0.25vw 0.25vw,
  -0.25vw 0.25vw 0px #701f99,
  0.25vw -0.25vw 0.25vw #ffbb33,
  -0.25vw -0.25vw 0px #ffbb33;
  text-decoration: none;
  margin: 1vw;
}

#title,
#text {
  color: #FFF;
  text-shadow: 0.25vw 0.25vw 0.25vw #ddd,
  -0.25vw 0.25vw 0px #eee,
  0.25vw -0.25vw 0.25vw #eee,
  -0.25vw -0.25vw 0px #eee;
}

#act {
  color: #ffbb33;
  text-shadow: 0.25vw 0.25vw 0.25vw #701f99,
  -0.25vw 0.25vw 0px #00a892,
  0.25vw -0.25vw 0.25vw #00a892,
  -0.25vw -0.25vw 0px #eee;
}

aside {
  position: relative;
  z-index: 100;
}
