body,
.contents .pr,
#credit {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  clear: both;
}

button,
input[type="button"] {
  appearance: none;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: 500;
  outline: none;
}

button {
  background: transparent;
  border: none;
  font-size: 200%;
}

input[type="button"] {
  background: #fff;
  border: 0.01rem solid;
  font-size: 125%;
}

.no,
.contents .order {
  box-sizing: border-box;
  margin: 0;
}

.no {
  font-size: 125%;
  font-style: normal;
  font-weight: 500;
  padding: 1rem;
}

main {
  width: 90%;
  max-width: 1250px;
}

.contents {
  font-size: 1rem;
  padding: 2.5%;
  margin: 0 auto;
}

.contents .order {
  font-size: 150%;
  font-style: normal;
  text-align: center;
}

.no i {
  font-family: Arial, sans-serif;
  font-style: normal;
}

.no,
.contents .order {
  font-family: 'Great Vibes', cursive;
}

.contents .info,
.contents .buy,
#credit.contents .info {
  font-family: 'Lucida Console', Courier, monospace;
}

.contents .info,
.contents .buy,
.contents iframe {
  display: block;
  float: left;
}

.no i,
.contents img {
  display: block;
  float: right;
}

.contents::after,
.contents .pr::before,
#credit.contents .info .no::after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
}

.contents a {
  color: #000;
  text-decoration: none;
}

.contents a:hover,
.contents b,
button:hover,
input[type="button"]:hover {
  color: #fff;
  background: #000;
}

.contents .info a,
.contents .info b,
.contents .pr a,
.contents .pr b {
  display: inline-block;
  box-sizing: border-box;
  border: solid 0.1rem #000;
  padding: 0 0.25rem;
  margin: 0.125rem;
}

.contents b {
  margin-right: 1rem;
}

.contents p {
  line-height: 200%;
}

.contents img,
.contents .info {
  box-sizing: border-box;
  width: 50%;
  max-width: 550px;
}

.contents img {
  margin-bottom: 2rem;
}

.contents .info {
  font-size: 75%;
  float: left;
  padding-right: 4.5rem;
  padding-bottom: 2rem;
}

.contents .right,
.contents .buy {
  float: right;
}

.contents iframe {
  border: none;
  width: 100%;
  height: 45vw;
  max-width: 700px;
  max-height: 25rem;
}

.contents .buy {
  padding: 2rem;
  margin: 0;
  width: 20rem;
}

.contents .order a {
  display: block;
  padding-top: 1.5%;
}

#credit p {
  padding: 0;
  margin: 0.5rem 0;
}

#credit.contents {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
}

#credit.contents .info {
  box-sizing: border-box;
  font-size: 75%;
  flex: 1 300px;
  padding: 1rem 2.5%;
}

#credit.contents .info:first-child {
  font-size: 95%;
  flex: 3 750px;
}

#credit.contents .sp {
  flex: 2 500px;
}

#credit.contents a {
  margin: 0;
}

#print {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0;
  z-index: 100;
}

@media screen and (max-width: 1250px) {
  .contents .buy {
    width: 100%;
    padding: 0;
  }

  .contents iframe {
    width: 100%;
    height: 55vw;
    max-width: 100%;
    max-height: 55vw;
  }
}

@media screen and (max-width: 1000px) {
  #credit.contents .info:first-child,
  #credit.contents .sp {
    flex: 1 100%;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .contents img,
  .contents .info {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  #print {
    padding: 2.5%;
  }
}
