html {
  background-color: #BE0032;
  font-family: 'Yu Mincho', "YuMincho", serif;
  font-size: 16px;
  letter-spacing: 0.1em;
}

body,
article {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  padding: 0;
  margin: 0 2rem;
}

header p {
  text-align: right;
}

header #logo img {
  height: 5rem;
}

header #logo::before,
header #logo::after {
  display: inline;
  font-size: 200%;
  vertical-align: super;
}

header::before {
  content: "★";
  color: yellow;
  position: absolute;
  top: 0;
  z-index: -1;
}

header #logo::before {
  content: "大"
}

header #logo::after {
  content: "阪"
}

#dragon {
  position: relative;
  padding: 0;
  margin: 0;
}

#dragon marquee {
  letter-spacing: 5rem;
  padding: 0;
  margin: 2rem 0 0;
  text-align: center;
  transition: 0.25s;
}

#dragon::before,
#dragon:hover::after {
  font-size: 25%;
  position: absolute;
}

#dragon::before {
  color: yellow;
  content: 'Group Show: Name is "Dragon"';
  top: 0;
  left: 0;
}

nav {
  box-sizing: border-box;
  padding: 1rem 0;
  margin: 1rem auto;
  overflow: auto;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  Width: 90%;
  max-width: 555px;
}

#dragon,
header::before {
  font-size: 555%;
  font-weight: 500;
}

nav h2,
nav strong {
  font-size: 125%;
  font-weight: 500;
}

section,
aside {
  box-sizing: border-box;
  float: left;
  padding: 0.5rem 1rem;
  margin: 0;
}

section {
  font-size: 90%;
  width: calc(100% - 1rem);
  max-width: 350px;
}

aside {
  font-size: 75%;
  width: calc(100% - 2rem);
  max-width: 450px;
}

h3 {
  font-size: 111%;
  font-weight: 500;
}

#img div {
  clear: both;
  display: flex;
  flex-flow: reverse nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  height: 75vw;
  max-height: 75vh;
}

#img aside,
#img div img {
  flex: 0 0 auto;
  scroll-snap-align: start;
  height: 100%;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 4.5vw;
    letter-spacing: 0.025vw;
  }

  header #logo img {
    height: 20vw;
  }

  #dragon:hover::after {
    padding: 1vw 10vw;
    margin: 2vw 0;
    width: 40vw;
  }
}
