nav * {
  display: block;
  text-decoration: none;
  padding: 0.125rem;
  margin: 0.25rem;
  transition: 0.5s;
}

nav u {
  display: none;
}

nav * {
  pointer-events: auto;
  user-select: auto;
}

nav *:hover {
  background: gold;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff9;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
}
