html {
  font-size: 16px;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body,
main,
h1,
h2,
article {
  padding: 0;
  margin: 0;
}

main h1,
nav a:hover,
article,
#artists ul li a {
  background: #fff;
  color: #000032;
}

main,
nav,
nav a,
time,
#artists ul li a:hover,
#artists .marco div {
  background: #000032;
  color: #fff;
}

main,
main h1,
main h2,
#artists ul {
  display: flex;
}

main {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 4.5rem);
}

main h1,
main h2,
section h3,
section p,
#artists ul li a,
nav {
  font-family: "Helvetica", "Arial", sans-serif;
}

time,
#artists ul li,
address {
  font-family: 'Space Mono', monospace;
}

time {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

section h3 {
  font-size: 175%;
  font-weight: 500;
}

.info p {
  font-size: 125%;
}

address {
  font-size: 75%;
  font-style: normal;
  margin: 0.5rem 0 0;
}

main h1,
main h2 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

main h1 {
  border-top: solid 0.5vw #000032;
  border-right: solid 0.5vw #000032;
  box-shadow:
  0.5vw 0.5vw 0 #fff,
  1vw 1vw 0 #fff,
  1.5vw 1.5vw 0 #fff,
  2vw 2vw 0 #fff,
  2.5vw 2.5vw 0 #fff,
  3vw 3vw 0 #fff,
  3.5vw 3.5vw 0 #fff,
  4vw 4vw 0 #fff,
  4.5vw 4.5vw 0 #fff,
  5vw 5vw 0 #fff;
  font-size: 4.5vw;
  padding-top: 2.5%;
  padding-right: 2.5%;
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(9deg);
  text-align: left;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

main h2 {
  font-size: 4vw;
  padding-bottom: 2.5%;
  padding-right: 2.5%;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  vertical-align: bottom;
}

#artists ul li a,
#artists .marco div b {
  font-size: 150%;
  font-weight: 500;
  vertical-align: text-bottom;
}

main h1 small,
main h2 small {
  font-size: 75%;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

nav a {
  display: inline-block;
  font-size: 4.5vw;
  padding: 0.5vw;
  margin: 1vw;
}

article {
  background: #fff;
  clear: both;
  position: relative;
  z-index: 10;
}

section {
  box-sizing: border-box;
  padding: 5.5vw 2.5vw 2.5vw;
}

hr {
  border: none;
  clear: both;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1000px) {
  main h1,
  main h2 {
    width: 50%;
    height: 100%;
  }

  main h1 {
    border-top: solid 0.25rem #000032;
    border-right: solid 0.25rem #000032;
    box-shadow:
    0.25rem 0.25rem 0 #fff,
    0.5rem 0.5rem 0 #fff,
    0.75rem 0.75rem 0 #fff,
    1rem 1rem 0 #fff,
    1.25rem 1.25rem 0 #fff,
    1.5rem 1.5rem 0 #fff,
    1.75rem 1.75rem 0 #fff,
    2rem 2rem 0 #fff,
    2.25rem 2.25rem 0 #fff,
    2.5rem 2.5rem 0 #fff;
    font-size: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  main h2 {
    font-size: 2.75rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }

  nav a {
    font-size: 2.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  section {
    box-sizing: border-box;
    padding: 4rem 2rem 2rem;
  }
}

.jam,
.marco {
  box-sizing: border-box;
  width: 50%;
}

.jam {
  float: left;
  text-align: left;
}

.marco {
  float: right;
  text-align: right;
}

.info {
  transform: scale(0.95);
}

@media screen and (max-width: 900px) {
  .jam,
  .marco {
    width: 100%;
    text-align: left;
  }
}

#artists ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: inside;
}

#artists ul {
  flex-flow: wrap;
}

#artists ul li {
  margin: 1%;
}

#artists .marco div {
  border-radius: 50%;
  float: right;
  padding: 1.5rem 0;
  width: 400px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  main {
    max-height: calc(100vw - 5.5vw);
  }

  article {
    font-size: 3.21vw;
  }

  #artists .marco div {
    padding: 5.5vw 0;
    width: 90%;
    text-align: center;
  }

  #accsess iframe {
    width: 100%;
    height: 60vw;
  }
}
