h2,
#items {
  padding: 0;
  margin: 0;
}

.no {
  padding: 0.25rem;
  margin: 0.25rem 0.5rem;
}

h3 {
  padding: 0;
  margin: 0.5rem 0;
}

.no,
h2 strong {
  font-size: 175%;
  font-weight: 555;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

.no b {
  font-size: 75%;
}

h2,
.no b {
  font-weight: 500;
}

.no b {
  display: block;
  float: right;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

object {
  display: block;
  width: 90%;
  max-width: 1000px;
  height: 75vh;
  max-height: 550px;
}

h1 {
  position: relative;
}

.no,
h2 {
  font-family: 'Great Vibes', cursive;
}

h1 small,
h3 {
  font-family: 'Lucida Console', Courier, monospace;
  font-weight: 500;
}

h1 small {
  background: #000;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 55%;
}

#title {
  padding: 1rem;
  margin: 0;
}

#items {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  list-style: none;
  list-style-position: inside;
}

#title {
  float: left;
}

#video {
  float: right;
}

footer {
  clear: both;
}

#video {
  box-sizing: border-box;
  padding: 1rem;
  width: 100vw;
  max-width: 70vh;
  height: 100vw;
  max-height: 70vh;
}

#items li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#items li {
  margin: 1rem;
  width: 5rem;
  height: 5rem;
}

@media (orientation: portrait) {
  #video {
    width: 100vw;
    max-width: 100vw;
    height: 100vw;
    max-height: 100vw;
  }
}