html {
  font-size: 15px;
  font-family: "Helvetica", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

article,
h1 {
  padding: 1rem;
  margin: 1rem;
}

body {
  transition: 0.5s;
}

u {
  border-bottom: dotted 2px;
  display: inline-block;
  text-decoration: none;
  transition: 1s;
}

u:hover {
  cursor: help;
  font-style: italic;
  transform: scale(1.5);
}

#act,
nav {
  padding: 2rem;
  margin: 0;
}

nav h2 {
  padding: 0;
  margin: 1rem;
}

#map h3,
#map p {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.5rem;
  background: #fff9;
}

article,
#map {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row-reverse wrap;
}

aside {
  border: solid 3px;
}

h1,
#map h3 {
  font-size: 150%;
  writing-mode: vertical-rl;
}

#act,
#act u,
#map p {
  font-size: 111%;
}

nav h2 {
  font-size: 100%;
  font-weight: 400;
}

#act,
nav {
  line-height: 200%;
}

h1,
#act {
  position: relative;
  z-index: 10;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}

#map {
  background: 50% 50% / cover #fff;;
  background-image: url("cover.jpeg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 25vw);
  max-width: 750px;
  height: calc(100vh - 40vw);
  min-height: 450px;
  overflow: auto;
}

#map iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 3vw;
  }

  article,
  h1 {
    padding: 1vw;
    margin: 0;
  }

  #act,
  nav {
    padding: 1vw;
    margin: 0;
  }

  nav h2 {
    margin: 1vw;
  }

  aside {
    border: solid 0.5vw;
  }

  #map {
    min-height: 50vh;
    max-height: calc(100vh - 55vw);
  }
}
