* {
  box-sizing: border-box;
}

html,
select {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

html {
  height: -webkit-fill-available;
  font-size: 16px;
}

body {
  background: #FF5900;
}

h1 {
  color: #eee;
}

select,
footer {
  color: #000;
}

footer span,
article section,
ol li::marker {
  color: #eee;
  font-weight: 900;
}

address span b,
ol li::after {
  color: #FF5900;
  text-stroke: 0.5px #eee;
  -webkit-text-stroke: 0.5px #eee;
}

address {
  font-style: normal;
}

ol li::marker {
  font-style: italic;
}

select,
address span,
ol,
ol li,
ol li::marker {
  font-size: 125%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

h1 {
  font-size: 400%;
  padding: 1rem 0;
  margin: 0;
  transform: scale(1, 1.5);
  transform-origin: center left;
  text-stroke: 0.25rem #eee;
  -webkit-text-stroke: 0.25rem #eee;
}

article {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

select {
  border: solid 2px;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  outline: none;
}

nav {
  padding: 0.5rem;
  margin: 0;
}

article {
  padding: 4rem 2rem 1rem;
}

ol {
  background: #fff9;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: cjk-ideographic inside;
  writing-mode: vertical-lr;
  width: 100%;
  height: 32.1rem;
  overflow: auto;
}

ol li {
  padding: 1rem;
}

ol li::after {
  font-size: 75%;
  display: block;
}

ol li.mon::after {
  content: "五月五日(月・祝)"
}

ol li.tue::after {
  content: "五月六日(火)"
}

ol li.wed::after {
  content: "五月七日(水)"
}

ol li.thu::after {
  content: "五月八日(木)"
}

ol li.fri::after {
  content: "五月九日(金)"
}

ol li.sat::after {
  content: "五月十日(土)"
}

ol li.sun::after {
  content: "五月十一日(日)"
}

section {
  padding: 0.5rem;
  margin: 2.5rem auto;
  width: 100%;
  max-width: 750px;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 2.5vw;
  }

  address span b,
  ol li::after {
    text-stroke: 0.01vw #eee;
    -webkit-text-stroke: 0.01vw #eee;
  }

  h1 {
    padding: 2vw 0;
    text-stroke: 0.5vw #eee;
    -webkit-text-stroke: 0.5vw #eee;
  }

  select {
    border: solid 0.5vw;
    border-radius: 5vw;
    padding: 1.75vw 2.5vw;
    outline: none;
  }

  nav {
    padding: 1vw;
  }

  article {
    padding: 12.5vw 5vw 5vw;
  }

  ol {
    border-radius: 4vw;
    margin: 2.5vw 0;
    max-height: 111vw;
  }

  ol li {
    padding: 2.5vw;
  }

  section {
    font-size: 111%;
    padding: 0;
    margin: 5vw auto;
  }
}

aside {
  background: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  max-width: max-content;
  z-index: 100;
}

aside p {
  font-size: 75%;
  padding: 0;
  margin: 0.25rem;
}
