html {
  font-size: 16px;
  font-family: Helvetica , Arial, -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', Sans-Serif;
  height: -webkit-fill-available;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 0;
}

#desktop {
  background-image: url('saizeriya_standard_2.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#title,
#items {
  padding: 0.5rem;
  margin: 0.5rem;
}

#title strong {
  font-size: 150%;
}

#aa::before {
  font-size: 125%;
}

#title {
  font-size: 100%;
}

#title time {
  font-size: 90%;
}

#title a {
  display: inline-block;
  margin-top: 0.5rem;
}

#aa::before {
  font-weight: bolder;
  letter-spacing: -0.075rem;
}

#title em,
#title time {
  font-weight: 400;
}

#title {
  mix-blend-mode: difference;
  filter: invert();
}

* {
  box-sizing: border-box;
}

#title {
  float: left;
}

#items {
  float: right;
}

#items,
#aa {
  display: flex;
  list-style: none;
  list-style-position: inside;
}


#items {
  flex-flow: column wrap-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100% - 1rem);
}

#aa::before {
  content: '#AABooth';
  display: block;
  width: calc(100% - 2rem);
  margin: 1rem;
}

footer {
  background: #fff;
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  z-index: 2;
}

#aa {
  flex-flow: wrap;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

#items li,
#aa li {
  display: grid;
  text-align: center;
  place-items: center;
  padding: 0;
}

#items li {
  margin: 0.5rem 0.75rem;
  width: 3rem;
  height: 4rem;
}

#aa li,
#booth {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#aa li {
  margin: 1rem;
  width: 5rem;
  height: 5rem;
}

#items li img {
  border: 0.09rem #fff solid;
  display: block;
  max-height: 3rem;
  max-width: 100%;
}

#items li p {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 55%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

#booth {
  cursor: move;
  position: absolute;
  left: 15%;
  top: 15%;
  width: 70%;
  max-width: 550px;
  height: 70%;
  max-width: 550px;
  z-index: 1000;
}

@media (orientation: portrait) {
  html {
    font-size: 3vw;
    height: -webkit-fill-available;
  }

  main {
    height: 100vh;
    max-height: -webkit-fill-available;
  }

  #booth {
    pointer-events: none;
    user-select: none;
  }
}
