html {
  font-size: 2vw;
}

body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, #4387E9, #fff, #BCC8DB);
  background-position: center;
  background-attachment: scroll;
}

* {
  box-sizing: border-box;
}

h1,
h3::after,
article section {
  font-family: 'Kosugi Maru', sans-serif;
}

h2,
h4,
nav {
  font-family: 'Press Start 2P', cursive;
}

h3 {
  font-family: 'Baloo Thambi', cursive;
}

time {
  font-family: 'Libre Barcode 39 Text', cursive;
}

time {
  font-size: 400%
}

h1,
h4,
h3:hover::after {
  text-align: center;
}

h1,
h4 {
  font-size: 100%;
}

h1 b {
  font-size: 111%;
}

a {
  font-size: 125%;
}

h2 {
  font-size: 250%;
}

h2 u {
  font-size: 50%;
}

h3::after {
  font-size: 3.33vw;
}

h3 {
  font-size: 555%;
}

h1 b,
h2 u,
h4 u,
a {
  color:#fff;
  background: linear-gradient(0deg, #4387E9, #BCC8DB);
  text-decoration: none;
}

h1,
h4,
article section p {
  padding: 0;
  margin: 2.25vw;
}

nav {
  background: #fff;
  border-radius: 5vw;
  padding: 1vw 10vw;
  margin: 0 2.5vw;
}

time {
  display: block;
  float: right;
  line-height: 125%;
  text-align: right;
  margin: 2.5vw;
}

h2 {
  color:#fff;
  -webkit-text-stroke: 0.025vw #000;
  text-shadow: 0.75vw 0.75vw #000;
  margin: 5vw 2.5vw;
}

h2 u {
  text-shadow: none;
  -webkit-text-stroke: 0 #fff;
}

h3 {
  margin: 15vw 4vw 10vw 2vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

h3 b {
  color: transparent;
  font-weight: 500;
  letter-spacing: -1.11vw;
  transform: scale(1, 5);
  -webkit-text-stroke: 0.15vw #000;
  pointer-events: none;
  user-select: none;
}

h3:hover::after {
  content: attr(data-ja);
  color: transparent;
  display: block;
  letter-spacing: 2.25vw;
  position: absolute;
  transform: translate(-50%, -50%) scale(1, 2.5);
  width: 100%;
  -webkit-text-stroke: 0.025vw #fff;
}

h3:hover::after {
  top: 50%;
  left: 50%;
}

article {
  display: flex;
  width: calc(100% - 2vw);
  margin: 0 1vw;
  overflow-x: auto;
  scroll-snap-type: x proximity;
}

article section {
  background: #fff;
  border-radius: 2.5vw;
  flex: 0 0 auto;
  scroll-snap-align: start;
  list-style-position: inside;
  padding: 1vw;
  margin: 2.5vw 2.5vw 2.5vw 0;
  width: 45vw;
  float: left;
}

@media print {
  article {
    display: none;
  }
}
