* {
  box-sizing: border-box;
}

hr {
  border: none;
  clear: both;
  padding: 0;
  margin: 0;
  width: 100%;
}

html,
button {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

html {
  height: -webkit-fill-available;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

header strong {
  color: green;
  font-weight: 900;
  text-stroke: 1px green;
  -webkit-text-stroke: 1px green;
}

header b {
  background: gold;
  border-radius: 3rem;
  display: inline-block;
  color: red;
  letter-spacing: 0.25rem;
  font-weight: 900;
  text-stroke: 1px red;
  -webkit-text-stroke: 1px red;
  margin: 2rem;
  padding: 0.75rem 1.5rem;
}

button {
  color: #000;
}

header {
  text-align: center;
  min-height: 100vh;
}

address {
  font-style: normal;
}

header strong {
  font-size: 150%;
}

header b,
nav strong {
  font-size: 125%;
}

button {
  font-size: 111%;
}

h1 {
  color: red;
  font-size: 250%;
  padding: 1rem 0;
  margin: 0;
  transform-origin: center left;
}

#example1 span {
  background: red;
  border-radius: 50%;
  color: #fff;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem;
}

#cover {
  border: solid gold 1rem;
  background: 50% 50% / cover;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 70vw;
  max-width: 700px;
  height: 70vw;
  max-height: 700px;
}

#cover::before {
  content: "CLICK HERE";
  color: #fff;
  font-size: 200%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cover:hover::after {
  content: "ʕ •́؈•̀ ₎";
  color: gold;
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article {
  background: #fff 50% 50% / cover fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

article {
  padding: 1rem;
}

section {
  background: #fff4;
  padding: 0.25rem 1rem;
  margin: 2.5rem auto;
  width: 95%;
  max-width: 1000px;
}

button {
  background: #fff;
  border: solid 2px;
  display: inline-block;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  outline: none;
}

nav strong,
nav button {
  margin: 0.25rem;
}

#cover:hover::after,
nav strong {
  font-weight: 900;
  text-stroke: 0.1px #fff;
  -webkit-text-stroke: 0.1px #fff;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 2vw;
  }

  h1 {
    padding: 2vw 0;
  }

  #example1 span {
    width: 7.5vw;
    height: 7.5vw;
    margin: 0.5vw;
  }

  header {
    min-height: 100vw;
  }

  header b {
    border-radius: 5vw;
    letter-spacing: 0.75vw;
    text-stroke: 0.25vw red;
    -webkit-text-stroke: 0.25vw red;
    margin: 2vw;
    padding: 1.5vw 3vw;
  }

  article {
    padding: 2.5vw;
  }

  section {
    font-size: 125%;
    padding: 0.5vw 2.5vw;
    margin: 7.5vw auto;
  }

  button {
    border: solid 0.25vw;
    border-radius: 5vw;
    padding: 1vw 2vw;
    outline: none;
  }

  nav strong,
  nav button {
    margin: 0.5vw;
  }

  #cover:hover::after,
  nav strong {
    text-stroke: 0.001vw #fff;
    -webkit-text-stroke: 0.001vw #fff;
  }
}

aside {
  float: right;
  padding: 0.5rem;
  max-width: max-content;
}

aside p {
  font-size: 90%;
  padding: 0;
  margin: 0.25rem;
}
