html {
  font-size: 16px;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
}

h1,
#video,
#info section {
  pointer-events: none;
  user-select: none;
}

h1,
h2 time,
#info details,
#info h3 strong {
  font-family: 'Times New Roman', 'Times', serif;
}

h2 b,
h2 small,
h3,
#info details summary {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1,
h2 {
  font-size: 200%;
  font-weight: 100;
}

#info details summary {
  font-size: 150%;
  line-height: 150%;
}

#info h3,
#info h3 strong,
#info details a {
  font-size: 125%;
  font-weight: 500;
}

#cover h2 {
  line-height: 100%;
}

#menu,
#info h2,
#info h3,
#info details summary {
  font-weight: 900;
  text-stroke: 0.75px #fff;
  -webkit-text-stroke: 0.75px #fff;
}

#info p {
  font-weight: 500;
  text-stroke: 0.25px #fff;
  -webkit-text-stroke: 0.25px #fff;
}

h2 small,
#cover h2 time,
#info h3 a {
  display: inline-block;
  font-size: 75%;
  line-height: 75%;
}

h1 {
  text-align: center;
  letter-spacing: 0.25rem;
  width: 100%;
}

h2 time {
  letter-spacing: -0.123rem;
}

body,
h1 {
  padding: 0;
  margin: 0;
}

h2,
#info h3 {
  padding: 0.5rem;
  margin: 0.25rem;
}

article,
#cover section h3 {
  display: flex;
  flex-flow: wrap;
}

#cover {
  font-size: 2.75vw;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

h1,
#menu,
#video {
  position: fixed;
}

h1,
#menu {
  z-index: 100;
}

h1,
#video {
  top: 50%;
  left: 50%;
}

h1 {
  color: #fff;
  mix-blend-mode: exclusion;
  transform: scale(1, 15) translate(-50%, -50%);
  line-height: 0;
}

#video {
  transform: translate(-50%, -50%);
  z-index: -1;
}

#menu {
  appearance: none;
  background: transparent;
  color: #000;
  display: none;
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  margin: 0;
  bottom: 0;
  right: 0;
  font-size: 250%;
}

#cover section {
  position: relative;
  overflow: auto;
  width: 50%;
  height: 100%;
  transition: 1s filter;
}

#cover section:hover {
  filter: hue-rotate(0deg) invert(1);
}

#info {
  justify-content: space-between;
}

#info section {
  height: 0;
  opacity: 0;
  padding: 0 1rem;
  transition: 1s;
  width: 100%;
}

#info:hover section {
  height: auto;
  opacity: 1;
  padding: 1rem 1rem 2rem;
  pointer-events: auto;
  user-select: auto;
}

#info details {
  clear: both;
  padding: 0;
  width: 100%;
}

#info details img {
  max-width: 500px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  #cover {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 550px) {
  #cover {
    font-size: 2.25vh;
    height: -webkit-fill-available;
  }
}

#cover section h2,
#cover section h3 {
  position: absolute;
  filter: invert();
  mix-blend-mode: difference;
}

#cover section h3 {
  color: #000;
  line-height: 100%;
  justify-content: space-between;
  bottom: 0;
  padding: 0;
  margin: 0.25rem;
}

#cover section h3 span {
  margin: 0.25rem;
}

#cover #left {
  background: blue;
  box-shadow: inset 10vw 2.5vw #fff;
  direction: ltr;
}

#cover #right {
  background: yellow;
  box-shadow: inset -10vw -2.5vw #fff;
  direction: rtl;
}

@media (orientation: landscape) {
  #video {
    width: 100vw;
    height: 100vh;
  }
}

@media (orientation: portrait) {
  #cover section {
    width: 100%;
    height: 50%;
    writing-mode: vertical-rl;
  }

  #cover section h3 {
    left: 0;
  }

  #info {
    font-size: 2.75vw;
  }

  #video {
    max-height: 100vw;
    max-width: 100vh;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
