#cover h2,
#live details summary small {
  font-family: "Goudy Old Style", "Didot", "Didot LT STD", "Palatino", "Palatino Linotype", "Palatino LT STD", "Garamond", "Big Caslon", serif;
}

#cover h2 strong {
  display: block;
  font-size: 400%;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

#cover h2 strong {
  position: relative;
}

#cover h2 strong:nth-of-type(1) {
  top: 2.5rem;
}

#cover h2 strong:nth-of-type(2) {
  left: 2.5rem;
}

#live #cover {
  box-sizing: border-box;
  padding: 0 4rem 0 2rem;
}

#live #cover {
  background-position: center;
  background-repeat: no-repeat;
}

#live #cover {
  background-size: cover;
  background-image: url("cover.jpeg");
  height: 100vh;
  max-height: 88vw;
}

#live details summary {
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

#live details p,
#live details h2,
#live details h3 {
  padding: 1rem;
  margin: 0;
}

#live details summary {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  outline: none;
}

#live details summary::-webkit-details-marker {
  display:none;
}

#live details[open] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  z-index: 10;
}

#live details[open] summary {
  background: #fff;
  color: orangered;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#live details summary:hover,
#live details[open] {
  color: #fff;
  background: orangered;
}

#live details,
#live details summary span,
#live details summary time {
  font-size: 111%;
}

#live details summary span {
  padding: 0 0.5rem 0 0;
}

#live details summary time::after {
  content: ": "
}


nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 14.5rem;
  position: relative;
  z-index: 5;
}

nav p {
  padding: 0;
  margin: 0;
}

nav a {
  font-size: 111%;
}

nav a time {
  font-size: 75%;
}

nav a time {
  display: inline-block;
  color: #000;
}

nav img {
  width: 100%;
  max-width: 200px;
}

nav * {
  display: grid;
  text-align: center;
}

nav a,
nav h1 {
  place-items: center;
}

nav p {
  place-items: end center;
}

nav a {
  box-sizing: border-box;
  color: blue;
  text-decoration: none;
  padding: 1rem;
}


@media (orientation: portrait) {
  nav {
    grid-auto-rows: calc(100vw / 3);
    height: 100vw;
  }

  #live details[open],
  article #cover {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}
