a {
  color: #000;
}

#act {
  font-size: 10vw;
  float: left;
  letter-spacing: 0.1em;
  line-height: 111%;
  width: 65%;
}

#act ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#act ul li {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  float: left;
  padding: 2.5vw;
  margin: 0;
  position: relative;
  width: 100%;
}

#act ul li img {
  position: absolute;
  z-index: -1;
  width: 33.333%;
}

.tcs {
  top: 2.5vw;
  right: 2.5vw;
}

.to {
  top: 2.5vw;
  left: 2.5vw;
}

#info {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2vw;
  float: right;
  letter-spacing: 0.1em;
  width: 30%;
}

#info h1,
#info h2 {
  font-size: 150%;
  font-weight: 500;
}

#info h2 u {
  font-size: 150%;
  display: block;
}

aside {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#theodore {
  padding: 0;
  margin: 2.5vw;
  width: calc(50% - 5vw);
  max-width: 750px;
}

#ohta {
  padding: 0;
  margin: 2.5vw;
  width: 500px;
  max-width: calc(50% - 5vw);
  height: 281px;
  max-height: 25vw;
}

@media screen and (max-width: 750px) {
  #theodore {
    width: calc(100% - 5vw);
    max-width: calc(100% - 5vw);
  }

  #ohta {
    width: calc(100% - 5vw);
    max-width: calc(100% - 5vw);
    height: 50vw;
    max-height: 50vw;
  }
}

@media screen and (max-width: 550px) {
  #act {
    clear: both;
    font-size: 15vw;
    width: 100%;
    height: 100vw;
  }

  #act ul li {
    padding: 4.5vw;
  }

  #info {
    clear: both;
    font-size: 2.5vw;
    padding: 2.5vw;
    width: 100%;
  }
}
