html {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 16px;
}

body {
  background: #00FFC8;
}

h1,
.title,
details h2 {
  color: #FF8885;
  font-weight: 900;
}

mark,
a {
  background: #FF8885;
  color: #fff;
}

hr {
  border: none;
  border-bottom: dotted 0.5rem #FF8885;
  clear: both;
  margin: 2.5rem 0.5rem;
}

* {
  box-sizing: border-box;
}

h2,
summary,
aside strong {
  font-family: 'Zen Old Mincho', serif;
}

h1 {
  font-size: 300%;
}

h2,
summary {
  font-size: 222%;
}

aside strong,
h2 strong {
  font-size: 150%;
}

h3,
time {
  font-size: 125%;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1,
.title {
  line-height: 100%;
  letter-spacing: 0.55rem;
  text-stroke: 0.5rem #FF8885;
  -webkit-text-stroke: 0.5rem #FF8885;
}

h2,
aside strong {
  transform: scale(1, 0.95);
  transform-origin: left top;
}

details h2 {
  letter-spacing: 0.75rem;
  text-stroke: 0.25rem #FF8885;
  -webkit-text-stroke: 0.25rem #FF8885;
  ;
}

h2 small {
  letter-spacing: 0;
  color: #fff;
  text-stroke: 0.0125rem #FF8885;
  -webkit-text-stroke: 0.0125rem #FF8885;
}

details {
  margin: 0.5rem 0;
}

summary {
  transform: scale(0.9, 1);
  transform-origin: left top;
}

summary {
  color: #fff;
  text-stroke: 0.25rem #fff;
  -webkit-text-stroke: 0.25rem #fff;
  padding: 0.25rem;
  line-height: 150%;
}


time {
  background: #fff;
  display: block;
  float: right;
  padding: 0.5rem 0.25rem;
  margin: 0;
  writing-mode: vertical-rl;
}

img {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.memo {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  clear: both;
}

.memo p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .flyer {
    max-width: 90%;
    max-height: auto;
    margin: 0;
  }

  img::after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 2.0vw;
  }
}